.hero-hero{
    background-image: url(../assets/images/img20.png);
    height: 700px;
    background-position: center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.hero-tittle{
    padding-top: 20rem;
    font-size: 3rem;
    font-weight: bolder;
    

}

.fleche {
    display: block;
    margin: 0 auto;
    width: 80px;
    margin-top: 20rem;
    
  }

