.hero-compte {
    background-image: url(../assets/images/img37.png) !important;
    height: 900px;
    background-position: center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .hero-title {
    padding-top: 7em;
    font-size: 3em;
    font-weight: bolder;
    text-shadow: white 0px 10px 30px;
  }
  
  a {
    padding-top: 15px;
    color: white;
    text-decoration: none;
  }
  
  a:active,
  a:hover {
    text-decoration: underline;
  }
  
  .info-perso,
  .info-newsletter {
    padding-left: 30px;
    border-left: 3px white solid;
  }